.html {
  background: #191919
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #191919
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
  ;
  /* font-family: 'Sohne'; */
  /* padding: 2rem; */
  /* min-height: 93vh; */
  /* background: linear-gradient(to bottom right, rgb(255, 255, 255) 7%, rgba(208, 232, 138, 0.447)); */
  /* background-image: url('/ld-bg.png');
  background-repeat: no-repeat;  
  background-size: cover; */

}

.headerbg {
  background: linear-gradient(200.65deg, rgba(33, 33, 33) -25.37%, rgba(0, 0, 0) 75.5%);

}

.subhead {
  color: #939598;
  font-family: 'Sohne';
  /* font-size: 38.2818px; */
  line-height: 150%;
  letter-spacing: 0.155em;
  text-transform: uppercase;
}

.outfitters {
  /* font-size: 83.4429px; */
  font-family: 'Sohne Mono';
  padding-bottom: 1rem;
  /* line-height: 125%; */
  /* or 104px */

  letter-spacing: 0.075em;

  /* Icon/yellow green */

  background: linear-gradient(126.73deg, #EAFF38 -2.64%, #38C7E4 72.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.img-center>div {
  display: block !important;
  margin: auto !important;
  max-width: max-content !important;
  ;
}

.header {
  display: flex;
  flex-direction: row;
  /* font-family: 'Sohne'; */
  align-items: flex-end;

  width: 100%;

}

.apistatus {
  display: flex;
  font-family: 'Sohne';
  padding: 1rem;
  position: relative;
}

.footer {
  display: flex;
  font-family: 'Sohne';
  padding: 1rem;
  position: relative;
}

.code {
  font-weight: 700;
  font-family: 'Sohne';
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  position: relative;
  padding: 1rem 1.2rem;
  margin: .5rem;
  align-items: center;
  background: rgb(255, 255, 255);
  justify-content: center;
  text-align: center;
  border-radius: var(--border-radius);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  font-family: 'Sohne';
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  font-family: 'Sohne';
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* background: white; */
  /* width: '100vw'; */
  /* padding: 1rem 0; */
}

.logo,
.thirteen {
  position: relative;
}

.thirteen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  font-family: 'Sohne';
  padding: 25px 10px;
  margin-left: 16px;
  transform: translateZ(0);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0px 2px 8px -1px #0000001a;
}

.thirteen::before,
.thirteen::after {
  content: '';
  position: absolute;
  /* z-index: -1; */
}

/* Conic Gradient Animation */
.thirteen::before {
  animation: 6s rotate linear infinite;
  width: 200%;
  height: 200%;
  background: var(--tile-border);
}

/* Inner Square */
.thirteen::after {
  inset: 0;
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(to bottom right,
      rgba(var(--tile-start-rgb), 1),
      rgba(var(--tile-end-rgb), 1));
  background-clip: content-box;
}

.fix button {
  background: black
}

/* Enable hover only on non-touch devices */
/* @media (hover: hover) and (pointer: fine) {
  .card:hover {
    border: 3px solid rgb(140, 248, 149); */

/* background: rgb(204, 192, 104) */
/* } */

/* .card:hover span {
    transform: translateX(4px);
  }
} */

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  /* .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  } */

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  /* .center {
    padding: 8rem 0 6rem;
  } */

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
    font-family: 'Sohne';

  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(to bottom,
        rgba(var(--background-start-rgb), 1),
        rgba(var(--callout-rgb), 0.5));
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(to bottom,
        transparent 0%,
        rgb(var(--background-end-rgb)) 40%);
    /* z-index: 1; */
  }
}


@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

/* Ribbon code borrowed from https://codepen.io/nxworld/pen/oLdoWb */

@import url(https://fonts.googleapis.com/css?family=Lato:700);

.newcard {
  position: relative;
  padding: 1rem 1.2rem;
  margin: .5rem;
  align-items: center;
  background: rgb(206, 232, 199);
  justify-content: center;
  text-align: center;
  border-radius: var(--border-radius);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.ldnewcard {
  background: linear-gradient(200.65deg, rgba(88, 89, 91, 0.45) -25.37%, rgba(40, 40, 40, 0.45) 75.5%);
}

.cardlower {
  background: linear-gradient(200.65deg, rgba(88, 89, 91) -25.37%, rgba(40, 40, 40) 75.5%);
}

.carddescription {
  font-size: 16px;
  font-family: 'Sohne';
  line-height: 150%;
  color: #D1D3D4;
}

.cardtitle {
  font-family: 'Sohne';
  font-size: 20px;
  line-height: 130%;
}

/* common */
.ribbon {
  width: 225px;
  height: 150px;
  overflow: hidden;
  position: absolute;

  top: -15px;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  color: #282828;
  padding: 15px 0;
  background: linear-gradient(215.17deg, #EBFF38 -100.75%, #3DD6F5 76.92%);
  /* filter: drop-shadow(0px 0px 62.6866px #3DD6F5); */
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  /* color: #fff; */
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-transform: uppercase;
  text-align: center;
}

/* top right*/
/* .ribbon-top-right {
  top: -1px;
  right: -1px;
}
.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
} */